In [1]:
import pandas as pd
from sklearn.preprocessing import LabelBinarizer

full_data = pd.read_csv("intraDataFile1F.csv", index_col=False)
full_data

,Frame,PosY,PosX,Size,BestMode,BestModeCost,Variance,coCost,AboveCost,LeftCost,...,Cost25,Cost26,Cost27,Cost28,Cost29,Cost30,Cost31,Cost32,Cost33,Cost34
0,0,0,0,0,1,11891.300,32.703400,-1,-1.000,-1.000,...,-1.0,12375.10,-1.000,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
1,0,0,0,1,0,3976.420,40.139400,-1,-1.000,-1.000,...,-1.0,4034.33,-1.000,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
2,0,0,0,2,0,1871.340,6.211760,-1,-1.000,-1.000,...,-1.0,1929.25,-1.000,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
3,0,0,0,3,0,1116.260,0.190476,-1,-1.000,-1.000,...,-1.0,1174.17,-1.000,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
4,0,0,0,4,0,2289.080,0.190476,-1,-1.000,-1.000,...,-1.0,2290.08,-1.000,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
461027,0,25,51,3,11,278.817,5.015870,-1,578.542,226.817,...,-1.0,-1.00,879.267,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
461028,0,25,51,4,11,447.359,5.015870,-1,235.817,157.817,...,-1.0,-1.00,-1.000,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
461029,0,25,51,4,11,159.817,5.015870,-1,235.817,447.359,...,-1.0,-1.00,-1.000,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
461030,0,25,51,4,11,142.817,5.015870,-1,447.359,134.817,...,-1.0,-1.00,-1.000,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
461031,0,25,51,4,11,156.817,5.015870,-1,159.817,142.817,...,-1.0,-1.00,-1.000,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0

In [2]:
data = full_data[['BestMode', 'Size']] #extrai as colunas dos atributos categoricos
print(data)
cod = LabelBinarizer()
for dta in data:
    cod.fit(data[dta])
    mod_data = cod.transform(data[dta])
binarized = pd.DataFrame(mod_data)
binarized

        BestMode  Size
0              1     0
1              0     1
2              0     2
3              0     3
4              0     4
...          ...   ...
461027        11     3
461028        11     4
461029        11     4
461030        11     4
461031        11     4

[461032 rows x 2 columns]

        0  1  2  3  4
0       1  0  0  0  0
1       0  1  0  0  0
2       0  0  1  0  0
3       0  0  0  1  0
4       0  0  0  0  1
...    .. .. .. .. ..
461027  0  0  0  1  0
461028  0  0  0  0  1
461029  0  0  0  0  1
461030  0  0  0  0  1
461031  0  0  0  0  1

[461032 rows x 5 columns]

In [3]:
mod_data = pd.concat([full_data,binarized], axis=1).drop(['BestMode'], axis=1)
mod_data

,Frame,PosY,PosX,Size,BestModeCost,Variance,coCost,AboveCost,LeftCost,AboveLeftCost,...,Cost30,Cost31,Cost32,Cost33,Cost34,0,1,2,3,4
0,0,0,0,0,11891.300,32.703400,-1,-1.000,-1.000,-1.000,...,-1.0,-1.0,-1.0,-1.0,-1.0,1,0,0,0,0
1,0,0,0,1,3976.420,40.139400,-1,-1.000,-1.000,-1.000,...,-1.0,-1.0,-1.0,-1.0,-1.0,0,1,0,0,0
2,0,0,0,2,1871.340,6.211760,-1,-1.000,-1.000,-1.000,...,-1.0,-1.0,-1.0,-1.0,-1.0,0,0,1,0,0
3,0,0,0,3,1116.260,0.190476,-1,-1.000,-1.000,-1.000,...,-1.0,-1.0,-1.0,-1.0,-1.0,0,0,0,1,0
4,0,0,0,4,2289.080,0.190476,-1,-1.000,-1.000,-1.000,...,-1.0,-1.0,-1.0,-1.0,-1.0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
461027,0,25,51,3,278.817,5.015870,-1,578.542,226.817,1068.900,...,-1.0,-1.0,-1.0,-1.0,-1.0,0,0,0,1,0
461028,0,25,51,4,447.359,5.015870,-1,235.817,157.817,144.817,...,-1.0,-1.0,-1.0,-1.0,-1.0,0,0,0,0,1
461029,0,25,51,4,159.817,5.015870,-1,235.817,447.359,235.817,...,-1.0,-1.0,-1.0,-1.0,-1.0,0,0,0,0,1
461030,0,25,51,4,142.817,5.015870,-1,447.359,134.817,157.817,...,-1.0,-1.0,-1.0,-1.0,-1.0,0,0,0,0,1
461031,0,25,51,4,156.817,5.015870,-1,159.817,142.817,447.359,...,-1.0,-1.0,-1.0,-1.0,-1.0,0,0,0,0,1