In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelBinarizer

full_data = pd.read_csv("Files/intraDataFile1F.csv", index_col=False)

#Cleaning cells
full_data = full_data.mask(full_data < 0, np.nan) #set -1 values to NaN
full_data

,Frame,PosY,PosX,Size,BestMode,BestModeCost,Variance,coCost,AboveCost,LeftCost,...,Cost25,Cost26,Cost27,Cost28,Cost29,Cost30,Cost31,Cost32,Cost33,Cost34
0,0,0,0,0,1,11891.300,32.703400,NaN,NaN,NaN,...,NaN,12375.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0,0,0,1,0,3976.420,40.139400,NaN,NaN,NaN,...,NaN,4034.33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0,0,0,2,0,1871.340,6.211760,NaN,NaN,NaN,...,NaN,1929.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0,0,0,3,0,1116.260,0.190476,NaN,NaN,NaN,...,NaN,1174.17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0,0,0,4,0,2289.080,0.190476,NaN,NaN,NaN,...,NaN,2290.08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
461027,0,25,51,3,11,278.817,5.015870,NaN,578.542,226.817,...,NaN,NaN,879.267,NaN,NaN,NaN,NaN,NaN,NaN,NaN
461028,0,25,51,4,11,447.359,5.015870,NaN,235.817,157.817,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
461029,0,25,51,4,11,159.817,5.015870,NaN,235.817,447.359,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
461030,0,25,51,4,11,142.817,5.015870,NaN,447.359,134.817,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
461031,0,25,51,4,11,156.817,5.015870,NaN,159.817,142.817,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Engenharia de Atributos

In [2]:
mod_data = full_data

#Changing Pos values

mod_data[['PosY']] = (mod_data[['PosY']]/mod_data[['PosY']].max())
mod_data[['PosX']] = (mod_data[['PosX']]/mod_data[['PosX']].max())

#Extracting categorical features

data = full_data[['BestMode']] 

for dta in data:
    cod = LabelBinarizer()
    cod.fit(data[dta])
    
    #generate header column list
    classes = cod.classes_.tolist() 
    column_name = []
    for num in classes:
        column_name.append(dta + str(num))
        
    binarized = cod.transform(data[dta])    
    onehot = pd.DataFrame(binarized, columns=list(column_name)) #create DF with binarized features headers             
    mod_data = pd.concat([mod_data,onehot], axis=1).drop([dta], axis=1) 
    
mod_data

,Frame,PosY,PosX,Size,BestModeCost,Variance,coCost,AboveCost,LeftCost,AboveLeftCost,...,BestMode25,BestMode26,BestMode27,BestMode28,BestMode29,BestMode30,BestMode31,BestMode32,BestMode33,BestMode34
0,0,0.0,0.0,0,11891.300,32.703400,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
1,0,0.0,0.0,1,3976.420,40.139400,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
2,0,0.0,0.0,2,1871.340,6.211760,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
3,0,0.0,0.0,3,1116.260,0.190476,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
4,0,0.0,0.0,4,2289.080,0.190476,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
461027,0,1.0,1.0,3,278.817,5.015870,NaN,578.542,226.817,1068.900,...,0,0,0,0,0,0,0,0,0,0
461028,0,1.0,1.0,4,447.359,5.015870,NaN,235.817,157.817,144.817,...,0,0,0,0,0,0,0,0,0,0
461029,0,1.0,1.0,4,159.817,5.015870,NaN,235.817,447.359,235.817,...,0,0,0,0,0,0,0,0,0,0
461030,0,1.0,1.0,4,142.817,5.015870,NaN,447.359,134.817,157.817,...,0,0,0,0,0,0,0,0,0,0
461031,0,1.0,1.0,4,156.817,5.015870,NaN,159.817,142.817,447.359,...,0,0,0,0,0,0,0,0,0,0

In [3]:
mod_data.to_csv("Files/modIntraData.csv")

# Modelo DC/PLANAR

- RMD list weights: Max(score DC/Planar), where score is 8, 7, 6, ..., 1  (min 8,7,6)
- MPM list weights: DC/Planar modes count, i.e., 0 | 1 | 2
- RMD costs: Min (DC cost, Planar cost)
- Label: isBestMode (boolean), i.e., if DC/Planar

In [4]:
mod_data.filter(regex='MPM')

        MPM1  MPM2  MPM3
0          0     1    26
1          0     1    26
2          0     1    26
3          0     1    26
4          0     1    26
...      ...   ...   ...
461027    11    10     0
461028    11    10     0
461029    11    10     0
461030    11    10    12
461031    11    10    12

[461032 rows x 3 columns]

In [30]:
mod1 = full_data
mod1 = mod1.drop(['Frame','coCost','BestMode'], axis=1)
mod1 = mod1.drop(mod1.loc[:,'MPM1':], axis=1)

#Create new features
MPM = mod_data.filter(regex='MPM')

def generate_weight(x):
    if x == 0 or x == 1:
        weight += 1
        
weight = 0
MPM['MPM'] = MPM.apply(lambda row: generate_weight(row))
MPM = pd.DataFrame()

#mod1 = fill NaN cells with average values
#mod1
MPM

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 461032 entries, 0 to 461031
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   MPM1    461032 non-null  int64
 1   MPM2    461032 non-null  int64
 2   MPM3    461032 non-null  int64
dtypes: int64(3)
memory usage: 10.6 MB

None

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().